src/main/resources/wsdl/CategoryModelService/service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://com/tfkfan/webservices/types"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://com/tfkfan/webservices/types">
    <wsdl:types>
        <xsd:schema xmlns="http://com/tfkfan/webservices/types"
                    targetNamespace="http://com/tfkfan/webservices/types"
                    elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:include schemaLocation="../xsd/exception.xsd"/>
            <xsd:include schemaLocation="service.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="LinkCategoryToModelRequest">
        <wsdl:part element="tns:LinkCategoryToModelRequest" name="linkCategoryToModelRequest" />
    </wsdl:message>
    <wsdl:message name="LinkCategoryToModelResponse">
        <wsdl:part element="tns:LinkCategoryToModelResponse" name="linkCategoryToModelResponse" />
    </wsdl:message>
    <wsdl:message name="UnlinkCategoryToModelRequest">
        <wsdl:part element="tns:UnlinkCategoryToModelRequest" name="unlinkCategoryToModelRequest" />
    </wsdl:message>
    <wsdl:message name="UnlinkCategoryToModelResponse">
        <wsdl:part element="tns:UnlinkCategoryToModelResponse" name="unlinkCategoryToModelResponse" />
    </wsdl:message>
    <wsdl:message name="FindModelsByCategoryCodeRequest">
        <wsdl:part element="tns:FindModelsByCategoryCodeRequest" name="findModelsByCategoryCodeRequest" />
    </wsdl:message>
    <wsdl:message name="FindModelsByCategoryCodeResponse">
        <wsdl:part element="tns:FindModelsByCategoryCodeResponse" name="findModelsByCategoryCodeResponse" />
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="fault" element="tns:fault"/>
    </wsdl:message>
    <wsdl:portType name="CategoryModelServicePorts">
        <wsdl:operation name="LinkCategoryToModel">
            <wsdl:input message="tns:LinkCategoryToModelRequest" />
            <wsdl:output message="tns:LinkCategoryToModelResponse" />
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="UnlinkCategoryToModel">
            <wsdl:input message="tns:UnlinkCategoryToModelRequest" />
            <wsdl:output message="tns:UnlinkCategoryToModelResponse" />
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="FindModelsByCategoryCode">
            <wsdl:input message="tns:FindModelsByCategoryCodeRequest" />
            <wsdl:output message="tns:FindModelsByCategoryCodeResponse" />
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CategoryModelServiceSoapBinding" type="tns:CategoryModelServicePorts">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="LinkCategoryToModel">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UnlinkCategoryToModel">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindModelsByCategoryCode">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CategoryModelService">
        <wsdl:port binding="tns:CategoryModelServiceSoapBinding" name="CategoryModelServicePorts">
            <soap:address
                location="http://localhost:8080/categorymodelservice" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
